{% extends 'ticketing/base.html' %}

{% block content %}
    <div class="container">
        <h2>Enter Your Ticket Number</h2>
        <form method="post" action="{% url 'payment_details' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="ticketNumber">Ticket Number</label>
                <input type="text" class="form-control" id="ticketNumber" name="ticket_number" required>
            </div>
            <button type="submit" class="btn btn-primary">View Payment Details</button>
        </form>
    </div>
{% endblock %}