{% extends "ticketing/base.html" %}

{% block content %}
    <br>
    <h6>Shuttle Schedule</h6>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Shuttle Name</th>
            <th> departs on</th>
            <th> At</th>
            <th> Edit/Delete</th>
        </tr>
        {% for schedule in schedule_list %}
            <tr class="table-secondary">
                <td>{{ schedule.shuttle_id.name }} </td>
                <td>{{ schedule.schd_date }}</td>
                <td>{{ schedule.schd_time }} </td>
               <td>
                        <a href="{% url 'shuttleschedule_update' pk=schedule.pk %}">Edit </a>
                        /<a href="{% url 'shuttleschedule_delete' pk=schedule.pk %}">Delete </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'shuttleschedule_create' %}">Add New Schedule</a>
{% endblock %}
