{% extends "ticketing/base.html" %}

{% block content %}
    <h2>My Account</h2>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    <ul>
        <div class="container">
            <!-- My Tickets here --><table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Number of Tickets</th>
      <th scope="col">Shuttle Name</th>
      <th scope="col">FutureColumn for Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>code - date</td>
      <td>code - time</td>
      <td>code - # Tickets</td>
      <td>code - Shuttle Name</td>
      <td>Code - edit/delete</td>
    </tr>
  </tbody>
</table>
        </div>
        <div class="container">
            <!-- My Payment Methods here --><table class="table">
  <thead>
    <tr>
      <th scope="col">Card Name</th>
      <th scope="col">Card #</th>
      <th scope="col">Cart Expiration</th>
      <th scope="col">edit/delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>code - name</td>
      <td>code - #</td>
      <td>code - expiration</td>
      <td>code - edit/delete</td>
    </tr>
      </tbody>
</table>
        </div>
    </ul>
{% endblock %}