{% extends 'ticketing/base.html' %}

{% block content %}
    <div class="container">
        <h2>Payment Details</h2>
        {% for payment in payment_details %}
            <p>Payment Date: {{ payment.payment_date }}</p>
            <p>Payment Amount: {{ payment.amount }}</p>
            <p>Payment Status: {{ payment.status }}</p>
            <p>Payment Method: {{ payment.method }}</p>
            <hr>
        {% empty %}
            <p>No payment details found for this ticket.</p>
        {% endfor %}
    </div>
{% endblock %}
