{% extends "ticketing/base.html" %}

{% block content %}
    <br>
    <h6>Shuttle Schedule</h6>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Shuttle Name</th>
            <th> departs on</th>
            <th> At</th>
        </tr>
        {% for schedule in schedule_list %}
            <tr class="table-secondary">
                <td>{{ schedule.shuttle_id.name }} </td>
                <td>{{ schedule.schd_date }}</td>
                <td>{{ schedule.schd_time }} <a href=""> Book Now </a></td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}