{% extends "ticketing/base.html" %}

{% block content %}
    <h5>Available Shuttles</h5> <br>
        <table>
            <tr>
                <th>Shuttle Name</th>
                <th>  Capacity</th>
                <th>  Color</th>
            </tr>
            {% for shuttle in shuttle_list %}
                <tbody id="tbody">
                <tr>
                    <td>{{ shuttle.name }} </td>
                    <td>{{ shuttle.capacity }}</td>
                    <td>{{ shuttle.color }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}