{% extends "ticketing/base.html" %}

{% block content %}
    <br>
    <h5>your booked Tickets</h5>

    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Purchased Date</th>
            <th> Purchased By</th>
        </tr>
        {% for ticket in ticket_list %}
            <tr class="table-secondary">
                <td>{{ ticket.purchased_date }} </td>
                <td>{{ ticket.customer }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}